.message__audio {
    position: relative;
    min-width:350px;
    overflow: hidden;
    audio {
        display: none;
    }
    &-progress {
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        background-color: #418fff;
        height: 100%;
    }
    &-info {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &-btn {
        button {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: rgb(37, 38, 94);
            img {
                width: 60%;
                height: 60%;
            }
        }
    }
    &-duration {
        opacity: .7;
        min-width: 40px;
    }
}
