.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    &__content {
        max-width: 430px;
        width: 100%;
        text-align: center;
    }
    &__top {
        margin-bottom: 50px;
        h2 {
            font-size: 28px;
            margin-bottom: 5px;
        }
        p {
            font-size: 18px;
            color: #202002;
            opacity: 0.5;
        }
        .block {
            width: 100%;
            text-align: center;
        }
    }
    &__success-block {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        font-size: 16px;
        p {
            color: #202002;
            opacity: 0.5;
        }
        h3{
            margin: 20px 0;
        }
    }
    .ant-form-item:last-child {
        margin-bottom: 0;
    }
    .button {
        display: block;
        width: 100%;
        text-transform: uppercase;
        margin-top: 14px;
        margin-bottom: 15px;
    }
    .ant-input-lg {
        height: 56px;
    }
    a {
        color: #adadad;
        font-size: 16px;
    }
}
