@import "~styles/variables.scss";

.dialog {
    &__item {
        display: flex;
        align-items: center;
        position: relative;
        padding: 20px 15px;
        transition: background-color .2s;
        cursor: pointer;
        &:hover {
            background-color: #f6f3f3;
        }
        &.active {
            background-color: #f6f3f3;
        }
        &-avatar {
            border-radius: 50%;
            overflow: hidden;
            margin-right: 10px;
            color: $black;
            &-online {
                position: absolute;
                background-color: rgb(40, 206, 40);
                border-radius: 50%;
                width: 14px;
                height: 14px;
                border: 3px solid #fff;
                bottom: 20px;
                left: 50px;
            }
        }
        &-content {
            flex-grow: 1;
        }
        &-content-top {
            display: flex;
            justify-content: space-between;
            margin-bottom: 7px;
            time {
                color: $time;
            }
        }
        &-name {
            color: $black;
            span {
                color: #36a132
            }
        }
        &-message {
            max-width: 200px;
            color: $black;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            margin: 0;
        }
        &-content-bottom{
            display: flex;
            justify-content: space-between;
        }
        &-number{
            background-color: #f46b6b;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            text-align: center;
            color: #fff;
            font-size: 12px;
        }
    }
    
}
