@import '~styles/variables.scss';

.dialogs {
    width: 350px;
    overflow: auto;
    height: 100%;
    &-search {
        padding: 25px 15px 25px;
        i:hover {
            color: rgba(0, 0, 0, 0.45);
            cursor: default;
        }
        input {
            border: none;
            background-color: #f6f3f3;
            font-size: 14px;

            &:focus {
                box-shadow: none;
            }
        }
    }
    &-noresults {
        text-align: center;
    }
}
