@import "~styles/variables.scss";

.message {
    margin-bottom: 15px;
    display: inline-block;

    &__audio {
        background-color: $blue;
        box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.1967);
    }

    &__content {
        display: flex;
        margin-bottom: 10px;
        max-width: 450px;
    }

    &__avatar {
        align-self: flex-end;

        .avatar {
            height: 30px;
            width: 30px;
            font-size: 14px;
            margin-right: 18px;
            line-height: 14px;
        }

        img {
            border-radius: 50%;
            height: 30px;
            width: 30px;
            margin-right: 18px;
        }
    }

    &__text,
    &__audio {
        margin: 0;
        color: #fff;
        text-align: bottom;
        display: inline-block;
        padding: 10px 20px;
        border-radius: 12px 12px 12px 0;
        line-height: 24px;
    }

    &__date {
        margin-left: 48px;
        color: $time;
    }

    &__attached {
        display: flex;
        margin-top: 10px;
    }

    &__attached-img {
        border-radius: 5px;
        overflow: hidden;
        width: 50px;
        height: 50px;
        margin-right: 7px;

        &.single {
            width: 150px;
            height: 150px;
            margin-left: 0;
        }
    }

    &.message-notme {

        .message__text,
        .message__audio {
            background-color: $blue;
            box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.1967);
        }
    }

    &.message-isme {
        align-self: flex-end;

        .message__date {
            text-align: right;
        }

        .message__text {
            border: 1px solid #ececec;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.02204);
            color: $black;
            max-width: 375px;
        }

        .message__icon {
            height: 17px;
            width: 15px;
            align-self: flex-end;
            margin-right: 10px;

            &.readed {
                width: 19px;
            }
        }
    }
}

.chat-bubble {
    background-color: $message-typing-blue;
    box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.1967);
    display: inline-flex;
    height: 30px;
    width: 75px;
    border-radius: 12px 12px 12px 0;
    align-items: center;
    justify-content: center;

    .loading {
        display: flex;

        .dot {
            height: 6px;
            width: 6px;
            border-radius: 50%;
            margin: 0 0 0 8px;
            background-color: $message-typeing-circle;

            &:first-child {
                margin: 0;
            }

            &.one {
                animation: cycleOne 1s ease-in-out infinite;
                animation-direction: normal;
            }

            &.two {
                animation: cycleTwo 1s ease-in-out infinite;
                animation-direction: normal;
            }

            &.three {
                animation: cycleThree 1s ease-in-out infinite;
                animation-direction: normal;
            }
        }
    }
}

@keyframes cycleOne {
    0% {
        opacity: 0.4;
    }

    33.333% {
        opacity: 1;
    }

    66.6667% {
        opacity: 0.4;
    }

    100% {
        opacity: 0.4;
    }
}

@keyframes cycleTwo {
    0% {
        opacity: 0.4;
    }

    33.333% {
        opacity: 0.4;
    }

    66.6667% {
        opacity: 1;
    }

    100% {
        opacity: 0.4;
    }
}

@keyframes cycleThree {
    0% {
        opacity: 0.4;
    }

    66.6667% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}
